html {
  color-scheme: light dark;
  display: flex;
  justify-content: center;
  height: 100%;
  background: #EFEDEE;
  padding: 20px 80px 20px 20px;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  max-width: 846px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
}


h1 {
  color: #FD0201;
  font-family: "Sofia Sans Condensed", Inter, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -4px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

h2 {
  color: #FD0201;
  font-family: "Sofia Sans";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

.web-externa {
  color: #FD0201
}

.texto-azul {
  color: #0666B8;
}

.w500 {
  font-weight: 500;
}

nav ul {
  display: flex;
  max-width: 630px;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
  list-style: none;
  background-color: #FD0201;
  color: #EFEDEE;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

nav li a {
  color: #EFEDEE;
}

nav li {
  width: 50%;
}

nav li:hover {
  animation-name: animacionBasica;
  animation-duration: 1s;
}

.footer {
  display: flex;
  max-width: 630px;
  align-items: flex-start;
  gap: 20px;
  font-weight: 700;
}

.footer a {
  color: #FD0201;
}

p,
h2,
h3,
nav,
dt,
dd {
  max-width: 630px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
}

figcaption {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

dl {
  padding: 60 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

dt {
  color: #0666B8;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

dd {
  margin: 0;
  padding: 10px 0;
}

.contenido,
.intro {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.imagen-principal {
  height: 567px;
}

.imagen-categoria {
  max-width: 100%;
  height: 500px;
}

.imagen-destacada {
  max-width: 100%;
  height: 500px;
  padding-bottom: 20px;
}

.imagen-panoramica {
  width: 720px;
  height: 300px;
}

.imagenes-paralelas {
  width: 630px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.imagenes-paralelas img {
  width: 50%;
}

.enlaces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

iframe {
  width: 630px;
  aspect-ratio: 16/9;
  border: none;
}

p {
  text-align: justify;
}

@media only screen and (max-width:480px) {
  html {
    padding: 10px 20px 10px 10px;
  }


  body {
    font-size: 14px;
    max-width: 100%;
    gap: inherit;
  }

  nav ul {
    max-width: 100%;
    gap: 10px;
    font-size: 14px;
  }

  p,
  h2,
  h3,
  nav,
  dt,
  dd {
    max-width: 90%;
  }

  h1 {
    font-size: 36px;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 18px;
    margin: 10px 0;
  }

  dl {
    padding: 0;
  }

  .imagenes-paralelas {
    width: 100%;
  }

  .imagen-principal {
    width: 100%;
    height: auto;
  }

  .imagen-categoria,
  .imagen-destacada,
  .imagen-panoramica {
    width: 100%;
    height: auto;
  }

  iframe {
    max-width: 100%;
    padding-bottom: 20px;
  }

  figure {
    margin: 10px 20px 10px 10px;
  }

}


/* Tablet */
@media only screen and (max-width:810) {

  p,
  h2,
  h3,
  nav,
  dt,
  dd {
    max-width: 80%;
  }

  .imagen-principal {
    max-width: 100%;
    height: auto;
  }

  body {
    gap: 15px;
  }
}



svg{
  width: 48px;
  position: fixed;
  bottom: 20px;
  right: 50px;
}



/* ANIMACION */

@keyframes animacionBasica {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-4px, 4px);
  }

  40% {
    transform: translate(-4px, -4px);
  }

  60% {
    transform: translate(4px, 4px);
  }

  80% {
    transform: translate(4px, -4px);
  }

  100% {
    transform: translate(0);
  }
}


@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: #FD0201;
  }
}

.svg-elem-1 {
          animation: animate-svg-fill-1 0.7s ease-in-out 0.8s both;
}


@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(255, 255, 255);
  }
}

.svg-elem-2 {
          animation: animate-svg-fill-2 2.5s ease-in-out 0.9s both;
          animation-iteration-count: infinite;
            clip-path: circle(50%);

}
